/* Menjadikan semua style body,paragraf*/
* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

body {
  margin: 0px;
  padding: 0px;
}

/* Navigasi Menu */

nav {
  background: #fcffe7;
  padding: 10px 40px 10px 70px;
  border: 1px solid #fcffe7;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #364f6b;
  border-left: none;
  border-right: none;
}

nav ul {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* LOGO */
nav ul li.logo {
  flex: 1;
  font-size: 30px;
  font-weight: bold;
}

nav ul li.logo:hover {
  color: red;
}

/* Menu item */
nav ul .items {
  padding: 0 25px;
  display: inline-flex;
}

nav ul .items a {
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}

nav ul .items a:hover {
  color: red;
}

/* Search box */
nav ul .search-icon {
  height: 40px;
  width: 240px;
  display: flex;
  background: #fcffe7;
  border-radius: 5px;
}

/* Search box input */
nav ul .search-icon input {
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 5px;
}

/* Search box icon */
nav ul .search-icon .icon {
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

nav ul .search-icon .icon:hover {
  background: #e6e6e6;
}

nav ul .search-icon .icon .span {
  color: #222222;
  font-size: 18px;
}

/* Property CSS Slide Show*/

.slide {
  max-width: auto;
  height: 690px;
  position: relative;
}

.slide1,
.slide2,
.slide3,
.slide4 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background: url(img/identitas.jpg) no-repeat center;
  background-size: cover;
  animation: fade1 8s infinite;
  -webkit-animation: fade1 8s infinite;
}
.slide2 {
  background: url(img/tampakdepan.jpg) no-repeat center;
  background-size: cover;
  animation: fade2 8s infinite;
  -webkit-animation: fade2 8s infinite;
}
.slide3 {
  background: url(img/lomba2.jpg) no-repeat center;
  background-size: cover;
  animation: fade3 8s infinite;
  -webkit-animation: fade3 8s infinite;
}
.slide4 {
  background: url(img/osis2.jpg) no-repeat center;
  background-size: cover;
  animation: fade4 8s infinite;
  -webkit-animation: fade4 8s infinite;
}

/* Property CSS Animasi Slide Show*/
@keyframes fade1 {
  0% {
    opacity: 1;
  }
  33.3333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.3333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 1;
  }
  33.3333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade4 {
  0% {
    opacity: 0;
  }
  33.3333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Kata sambutan, Foto Kepala Sekolah, Visi Misi*/
.sambutan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 40px 0;
}

.sambutan h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.sambutan p {
  padding: 15px 0;
  font-style: italic;
  font-size: 1rem;
  font-weight: normal;
}

/*Foto Kepala sekolah*/
.kepsek {
  background-image: url("img/bgputih.jpg");
  margin: 30px 0;
}

.kepsek .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.kepsek .container img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 20px 0 rgba(0, 0, 0, 0.2);
}

/*Untuk Visi Misi*/
.kepsek .container .visiMisi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/*Untuk Visi*/
.kepsek .container .visiMisi .visi {
  margin: 0 50px 0 100px;
}

.kepsek .container .visiMisi .visi h5 {
  font-size: 1.2rem;
  font-style: italic;
}

.kepsek .container .visiMisi .visi h3 {
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}

/*Untuk Misi*/
.kepsek .container .visiMisi .misi h5 {
  font-size: 1.2rem;
  font-style: italic;
}

.kepsek .container .visiMisi .misi p {
  font-size: 1.2rem;
  font-family: "PT Serif", sans-serif;
}

/* Property CSS Galeri*/

.galeri {
  padding: 50px 0;
  margin-top: 80px;
}
.galeri h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.galeri .boxGaleri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
}

.galeri .boxGaleri .perBox {
  position: relative;
  margin: 10px;
  width: 350px;
  height: 200px;
  overflow: hidden;
}

.galeri .boxGaleri .perBox img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.galeri .boxGaleri .perBox h3 {
  position: absolute;
  bottom: -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  padding-left: 5px;
  color: #fff;
  width: 100%;
  height: 40px;
  background-color: #0069d9;
  font-size: 1rem;
}

.galeri .boxGaleri .perBox:hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

/* Property CSS Artikel*/
.containerArtikelHome {
  padding-top: 60px;
}

.containerArtikelHome h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.containerArtikelHome .artikelHome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
}

.containerArtikelHome .artikelHome .perArtikelHome {
  width: 350px;
  margin: 10px;
  text-decoration: none;
  cursor: pointer;
}

.containerArtikelHome .artikelHome .perArtikelHome img {
  width: 100%;
  height: 225px;
  border-radius: 5%;
  margin-bottom: 10px;
}

.containerArtikelHome .artikelHome .perArtikelHome h3 {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 900;
  color: #000;
}
.containerArtikelHome .artikelHome .perArtikelHome:hover h3 {
  color: red;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.containerArtikelHome .artikelHome .perArtikelHome small {
  color: #000;
}

.containerArtikelHome .artikelHome .perArtikelHome small span {
  color: #0e85e7;
  font-weight: 700;
}

.containerArtikelHome .artikelHome .perArtikelHome p {
  font-size: 0.9rem;
  color: #000;
}

/* Property CSS Ekstrakulikuler*/

/* Title/Judul*/
.title {
  margin: 180px auto 50px auto;
}

.title h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 30px;
}

.title p {
  padding: 15px 0;
  font-style: italic;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

/* Letak box gambar*/
.ekstrakulikuler .boxEkstrakulikuler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
}

.ekstrakulikuler .boxEkstrakulikuler .perBox {
  width: 300px;
  height: 200px;
  position: relative;
  margin: 20px 10px;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.2);
}
.ekstrakulikuler .boxEkstrakulikuler .perBox img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.ekstrakulikuler .boxEkstrakulikuler .perBox:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.ekstrakulikuler .boxEkstrakulikuler .perBox h3 {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: -5px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #0069d9;
  color: #fff;
  border-radius: 20px;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
}

.ekstrakulikuler .boxEkstrakulikuler .perBox:hover h3 {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Property CSS Contact Us*/
.wrapper {
  margin: 180px auto 50px auto;
  background: #fcffe7;
  text-transform: uppercase;
  text-align: center;
  line-height: 70px;
}

.wrapper h1 {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 60px;
}

.wrapper p {
  padding: 15px 0;
  font-style: italic;
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
}

.wrapper input {
  padding: 10px 0;
  margin-bottom: 30px;
}

.wrapper textarea {
  height: 80px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.wrapper input,
.wrapper textarea {
  width: 50%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #999;
}

.wrapper input[type="submit"] {
  border-bottom: none;
  cursor: pointer;
  background: #0092e6;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}

/* Property CSS FOOTER1*/

footer {
  background: #fce38a;
  height: auto;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: black;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: black;
}

.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: red;
}

.footer-bottom {
  background: #fce38a;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  font-weight: 200;
  color: #0069d9;
}
